.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.flexcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    align-items: baseline;
    height: auto;
    border-radius: 20px;
}

.flexcardNumber {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 0px;
    border-radius: 0px 50px 50px 0px;
    font-family: 'Jost', sans-serif;
    color: white;
    text-shadow: 0px 3px 5px black;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}

.flexcardTitle {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
}

.flexcardText {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-weight: 300;
}

.flexcardNumber:before {
    content: '';
    width: 34px;
    height: 90px;
    position: absolute;
    left: -33px;
    top: 0px;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
    /* background: #95B7A2; */
    /* background: -webkit-linear-gradient(bottom, #95B7A2, #AED2BC); */
    background: -moz-linear-gradient(bottom, #111111, #333534);
    /* background: linear-gradient(to top, #95B7A2, #AED2BC); */
    ;
}

.flexcardNumber:after {
    content: '';
    width: 25px;
    height: 40px;
    position: absolute;
    left: -25px;
    bottom: -40px;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
}

.flex {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
}

img.flexcardimgItem {
    width: 50%;
    align-items: baseline;
}

/* GREEN CARD */

.flexcardGreen {
    background: #2d2d2d;
    box-shadow: 4px 4px 4px #252625;
}

.flexcardNumberGreen {
    background: #100f0f;
    background: -webkit-linear-gradient(right, #282727, #1c1d1c);
    background: -moz-linear-gradient(right, #101010, #1a1b1b);
    background: linear-gradient(to left, #151414, #1c1d1d);
    box-shadow: 0px 2px 2px #1c1c1c;
}

.flexcardNumberGreen:before {
    background: #0f100f;
}

.flexcardNumberGreen:after {
    background: #161616;
}

/* BLUE CARD */

.flexcardBlue {
    background: #1c1c1c;
    box-shadow: 4px 8px 1px #202020;
}

.flexcardNumberBlue {
    background: #121212;
    background: -webkit-linear-gradient(right, #161616, #131414);
    background: -moz-linear-gradient(right, #171817, #161717);
    background: linear-gradient(to left, #101010, #1c1d1d);
    box-shadow: 0px 2px 2px #171818;
}

.flexcardNumberBlue:before {
    background: #141414;
}

.flexcardNumberBlue:after {
    background: #1a1a1b;
}

/* ORANGE CARD */

.flexcardOrange {
    background: #050505;
    box-shadow: 4px 8px 1px #111111;
}

.flexcardNumberOrange {
    background: #121312;
    background: -webkit-linear-gradient(right, #0f0f0f, #1a1a19);
    background: -moz-linear-gradient(right, #0e0e0e, #242323);
    background: linear-gradient(to left, #0d0e0d, #181817);
    box-shadow: 0px 2px 2px #0b0b0a;
}

.flexcardNumberOrange:before {
    background: #0f0f0f;
}

.flexcardNumberOrange:after {
    background: #161616;
}

/* PİNK CARD */

.flexcardPink {
    background: #fffafd;
    position: relative;
    box-shadow: 2px 2px 1px #F34EAE;
    border-radius: 20px 20px 0px 20px;
}

.flexcardPink:before {
    content: '';
    width: 0px;
    height: 50px;
    /* background: red; */
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 100px solid transparent;
    border-bottom: 90px solid #F34EAE;
}

.flexcardNumberPink {
    background: #FDFFFE;
    background: -webkit-linear-gradient(right, #FDFFFE, #F34EAE);
    background: -moz-linear-gradient(right, #FDFFFE, #F34EAE);
    background: linear-gradient(to left, #FDFFFE, #F34EAE);
    box-shadow: 0px 2px 2px #F34EAE;
}

.flexcardNumberPink:before {
    background: #F34EAE;
}

.flexcardNumberPink:after {
    background: #d24095;
}

/* RESPONSİVE */

@media only screen and (max-width: 800px) {

    .flexcard {
        width: 35%;
        margin-top: 20px;
    }

    img.flexcardimgItem {
        width: 30%;
    }

}

@media only screen and (max-width: 500px) {

    .flexcard {
        width: 70%;
    }


}

